Repository jorge-allende/task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, bash -c 'tsc --noEmit', prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "next lint --fix",
    "bash -c 'tsc --noEmit'"
  ],
  "*.{json,md,mdx,css}": [
    "prettier --write"
  ]
}

Add task management features and UI improvements
  .lintstagedrc.json
  CLAUDE.md
  app/(landing)/footer.tsx
  app/dashboard/migrate/page.tsx
  app/globals.css
  app/layout.tsx
  bun.lock
  components/attachments/attachment-list.tsx
  components/attachments/attachment-uploader.tsx
  components/attachments/attachments-section.tsx
  components/kanban/kanban-board.tsx
  components/kanban/kanban-card.tsx
  components/kanban/kanban-column.tsx
  components/kanban/task-create-modal.tsx
  components/kanban/task-detail-modal.tsx
  components/kanban/task-edit-modal.tsx
  components/links/link-input.tsx
  components/links/links-section.tsx
  components/tag-manager.tsx
  components/ui/alert-dialog.tsx
  components/ui/tag-combobox.tsx
  convex/_generated/api.d.ts
  convex/attachments.ts
  convex/columns.ts
  convex/comments.ts
  convex/schema.ts
  convex/tags.ts
  convex/tasks.ts
Due: next lint --fix, bash -c 'tsc --noEmit', prettier --write

Fix GitHub Actions workflow - remove unsupported Bun caching
  .github/workflows/ci.yml
Due: none

Allow CI to continue with existing lint/type errors
  .eslintrc.json
  .github/workflows/ci.yml
Due: prettier --write

Fix CI build errors and improve workflow resilience
  .github/workflows/ci.yml
Due: none

Improve task card UI with visual enhancements
  app/globals.css
  components/kanban/kanban-card.tsx
Due: next lint --fix, bash -c 'tsc --noEmit', prettier --write

Fix kanban card separator line visibility
  components/kanban/kanban-card.tsx
Due: next lint --fix, bash -c 'tsc --noEmit'

Fix column reordering persistence issue
  components/kanban/kanban-board.tsx
  convex/columns.ts
Due: next lint --fix, bash -c 'tsc --noEmit'

Kanban enhancements
  components/kanban/kanban-board.tsx
  components/kanban/kanban-card.tsx
  convex/columns.ts
Due: next lint --fix, bash -c 'tsc --noEmit'
